*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body>div{
  width:100%;
}
header{
    height:60px;
    min-width:500px;
    width:100%;
}
.logo img{
    width:40px;
    height:40px;
    margin-left:40px;
    padding-top:10px;


}
.logo span{
    font-size:24px;
    font-weight:bold;
    color:#4e3a4f;
    margin-left:15px;
    line-height:60px;
    vertical-align:top;
}
menu{
    display:inline;
    float:right;
    margin-right:30px;
    position:relative;
}
menu li{
    list-style:none;
    display:inline-block;
    margin-left:40px;
    line-height:60px;
    color:#534141;
    font-family:"微软雅黑";
    cursor:pointer;
    transition-property:color;
    transition-timing-function:ease-in-out;
    transition-duration:0.4s;
}
menu li:hover{
  color:#f04c57;
}
menu>div{
  display:inline-block;
  position:relative;
}
menu span{
  display:inline-block;
  width:0;
  background-color:blue;
  border-top:3px solid #e53c3c;
  position:absolute;
  left:0;
  top:57px;
  transition-property: width left;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}
menu li:first-child~span{
  width:14%;
}
menu li:nth-child(2):hover~span{
  width:14%;
  left:15%;
}
menu li:nth-child(3):hover~span{
  width:14%;
  left:32%;
}
menu li:nth-child(4):hover~span{
  width:14%;
  left:50%;
}
menu li:nth-child(5):hover~span{
  width:14%;
  left:65%;
}
.login{
    width:80px;

    background:url("../images/icon-2.jpg") no-repeat left center;
    text-align:center;
}
.move{
  border-top:3px solid #e53c3c;
  background:yellow;
  position:absolute;
  bottom:5px;
  width:0;
  transition-property: width;
  transition-duration:0.5s;
  transition-timing-function: linear;
  margin-left:15px;
}
menu>div:hover .move{
  width:100px;
}
.pic{
    background-image:url("../images/pic01.jpg");
    background-size:100% auto;
    height:650px;
    position:relative;
}
.time-of p:first-child {
    font-size:60px;
    font-family:arial;
    color:#fff;
    letter-spacing: 3px;
}
.time-of p {
    font-size:20px;
    font-family:"microsoft yahei";
    color:#fff;
}
.time-of{
    margin-bottom:30px;
    position:absolute;
    top:200px;
    left:100px;
}
.time-of p:last-child {
    font-size:30px;
    font-family:"microsoft yahei";
    color:#fff;
    margin-top:35px;
    background:#e53c3c;
    text-align:center;
    width:250px;
    transition:1s;
}
.time-of p:last-child:hover{
    background:#ea8585;
    border-radius:10px;

}
#section-1{
  width:100%;
  height:240px;
}
#section-1>div{
    display: inline-block;
    width:25%;
    height:100%;
    margin:0;
    padding:0;
    position:relative;

}
#section-1 .image{
  width:100%;
  height:30%;
  position:absolute;
  top:40px;
}
#section-1 .circle .image{
    background:rgb(255,255,255) url("../images/icon-3.jpg") center top no-repeat;
}
#section-1 .flag .image{
    background:rgb(255,255,255) url("../images/icon-4.jpg") center top no-repeat;
}
#section-1 .flower .image{
    background:rgb(255,255,255) url("../images/icon-5.jpg") center top no-repeat;
}
#section-1 .square .image{
    background:rgb(255,255,255) url("../images/icon-6.jpg") center top no-repeat;
}
#section-1 .message{
  width:100%;
  height:30%;
  position:absolute;
  bottom:40px;
  text-align:center;
  border-right:2px solid #534141;
  font-size:13px;
  color:#534141;
}
#section-1 .square .message{
  border-right:0;
}
#section-1 .message:hover p{
  color:#be4f41;
}
#section-2 {
  width:100%;
  height:400px;
  position:relative;
  background:#edeaea;
}
#section-2 .image{
  background: url("../images/icon-1.png") top center no-repeat;
  width:100%;
  height:30%;
  position:absolute;
  bottom:230px;
  text-align:center;
  font-size:13px;
  color:#534141;
}
#section-2 .message{
  color:#534141;
  font-size:50px;
  font-family:"微软雅黑";
  width:100%;
  height:30%;
  position:absolute;
  bottom:40px;
  text-align:center;
}
#section-3{
  background:url("../images/pic02.jpg") center center no-repeat;
  background-size:cover;
  width:100%;
  height:400px;
  position:relative;
}
#section-3 .map{

  position:absolute;
  top:50px;
  width:100%;

}
#section-3 .map p{
  text-align:center;
}
#section-3 .map p:first-child{
  color:#fff;
  font-size:22px;
}
#section-3 .map span{
  display:block;
  border-top:4px solid #fff;
  margin-top:15px;
  margin:15px auto;
  width:20px;
  transition-property:width;
  transition-timing-function:ease-in-out;
  transition-duration:0.5s;
}
#section-3 .map:hover span{
  width:300px;
}
#section-3 .map p:last-child{
  color:#fff;
  font-size:13px;
  margin-top:20px;
}
#section-3 .input-form{
  position:absolute;
  top:200px;
  width:80%;
  margin-left:10%;
}
#section-3 .input-form div{
  margin:auto 70px;
  display:inline-block;
  width:200px;
  height:30px;
}
#section-3 .input-form .country{
  background:url("../images/icon-7.png") 170px center no-repeat #fff;
  background-size:20px 20px;
  position:relative;
}
#section-3 .input-form .country:before{
  content:attr(selected);
  line-height: 30px;
  font-size: 15px;
}
#section-3 .input-form .country ul{
  list-style: none;
  position:absolute;
  top:26px;
  left:-2px;
  display:none;
}
#section-3 .input-form .country:focus>ul{
  display:block;
  width:200px;
  border:2px solid #cc3333;
  cursor:pointer;
  background:#ddd;
}
#section-3 .input-form .country:focus>ul li{
  padding-left:5px;
}
#section-3 .input-form .country:focus{
  border:2px solid #cc3333;
  height:30px;
  /*width:196px;*/
  /*height:26px;*/
}
#section-3 .input-form .country:focus ul li:hover{
  background-color:#cc3333;
}
#section-3 .input-form .province{
  background:url("../images/icon-7.png") 170px center no-repeat #fff;
  background-size:20px 20px;
  position:relative;
}
#section-3 .input-form .province:before{
  content:attr(selected);
  line-height: 30px;
  font-size: 15px;
}
#section-3 .input-form .province ul{
  list-style: none;
  position:absolute;
  top:26px;
  left:-2px;
  display:none;
}
#section-3 .input-form .province:focus>ul{
  display:block;
  width:196px;
  border:2px solid #cc3333;
  cursor:pointer;
  background:#ddd;
}
#section-3 .input-form .province:focus>ul li{
  padding-left:5px;
  /*width:196px;*/
}
#section-3 .input-form .province:focus{
  border:2px solid #cc3333;
  /*width:196px;*/
}
#section-3 .input-form .province:focus ul li:hover{
  background-color:#cc3333;
}
#section-3 .input-form .city{
  background:url("../images/icon-7.png") 170px center no-repeat #fff;
  background-size:20px 20px;
  position:relative;
}
#section-3 .input-form .city:before{
  content:attr(selected);
  line-height: 30px;
  font-size: 15px;
}
#section-3 .input-form .search{
  background:#be4f48;
  display:inline-block;
  width:200px;
  height:30px;
  transition-property:background;
  transition-duration:0.5s;
  margin:auto 70px;
  line-height:30px;
  text-align:center;
}
#section-3 .input-form .search:hover{
  background:#e31212;
}
#section-4{
  height:500px;
  width:100%;
  background:#edeaea;
  position:relative;
}
#section-4 div{
  height:400px;
  width:20%;
  top:50px;
  position:absolute;
  display:inline-block;

}
#section-4 .pic1{
  left:10%;
  background:url("../images/pic03.jpg") center top no-repeat;
}
#section-4 .pic1 p{
  color:#44403f;
  font-size:14px;
  display:block;
  text-align:center;
  margin:auto auto;
  padding-top:350px;
}
#section-4 .pic2{
  left:30%;
    background:url("../images/pic04.jpg") center bottom no-repeat;
}
#section-4 .pic2 p{
  color:#44403f;
  font-size:14px;
  display:block;
  text-align:center;
  margin:auto auto;
  padding-bottom:350px;
}
#section-4 .pic3{
  left:50%;
    background:url("../images/pic05.jpg") center top no-repeat;
}
#section-4 .pic3 p{
  color:#44403f;
  font-size:14px;
  display:block;
  text-align:center;
  margin:auto auto;
  padding-top:350px;
}
#section-4 .pic4{
  left:70%;
    background:url("../images/pic06.jpg") center bottom no-repeat;
}
#section-4 .pic4 p{
  color:#44403f;
  font-size:14px;
  display:block;
  text-align:center;
  margin:auto auto;
  padding-bottom:350px;
}
#section-4 div span{
  color:#b3afac;
  font-size:12px;
}
#section-5{
  width:100%;
  height:500px;
  position: relative;
}
#section-5 .pic07{
  display:inline-block;
  height:500px;
  width:65%;
  background:url("../images/pic07.jpg") no-repeat 0 0 /cover;
  position:absolute;
  top:0;
  left:0;
}
#section-5 .text{
  display:inline-block;
  height:500px;
  width:35%;
  position: absolute;
  top:0;
  right:0;

}
#section-5 .pic07 .float-text{
  position:absolute;
  top:100px;
  width:100%;
  text-align:center;
  font-size:50px;
  color:#fff;
}
.pic07::after{
  border-color: transparent #fff transparent transparent;
  content:"";
  border-width:30px;
  position:absolute;
  bottom:235px;
  left:100%;
  border-style:solid;
  z-index: 100;
  margin-left:-60px;
}
#section-5 .pic07 .float-text span:nth-child(2){
  font-size:150px;
}
#section-5 .pic07 .float-text .little-text{
  font-size:30px;
}
#section-5  .text .new-word02{
  display:none;
}
#section-5  .text .new-word03{
  display:none;
}
#section-5 .text .new-word01,#section-5 .text .new-word02,#section-5 .text .new-word03{
  position:absolute;
  top:20%;
  left:20%;
  right:20%;
}
.choice-point{
  position:absolute;
  bottom:100px;
  width:100%;
  text-align: center;
}
.adjj:hover .new-word02{
  color:#fff;
  display:block;
}
#section-6{
  width:100%;
  height:500px;
}
#section-6 .left{
  display:inline-block;
  background:#e84e4c;
  width:30%;
  height:500px;
  vertical-align: top;
}
#section-6 .left p{
  padding-top:200px;
  width:100%;
  text-align: center;
  font-size:20px;
  color:#fff;
  letter-spacing: 3px;
  margin-bottom:15px;
}
#section-6 .left .border-bottom{
  display:block;
  border-bottom:3px solid #fff;
  width:10%;
  margin:auto;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#section-6 .left:hover .border-bottom{
  width:30%;
}
#section-6 .left .button{
  display: block;
  width:30%;
  height:40px;
  text-align: center;
  padding-top:10px;
  margin:15px auto;
  border:2px solid #FFF;
  transition-property: background-color color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
#section-6 .left:hover .button{
  background-color:#fff;
  color:#e84e4c;
}
#section-6 .center{
  display:inline-block;
  width:40%;
  height:500px;
  vertical-align: top;
}
#section-6 .center p{
  padding-top:200px;
  width:100%;
  text-align: center;
  font-size:20px;
  letter-spacing: 3px;
  margin-bottom:15px;
}
#section-6 .center .border-bottom{
  display:block;
  border-bottom:3px solid #e84e4c;
  width:10%;
  margin:auto;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#section-6 .center:hover .border-bottom{
  width:30%;
}
#section-6 .center .button{
  display: block;
  width:30%;
  height:40px;
  text-align: center;
  padding-top:10px;
  margin:15px auto;
  border:2px solid #e84e4c;
  transition-property: background-color color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
#section-6 .center:hover .button{
  background-color:#e84e4c;
  color:#fff;
}
#section-6 .right{
  background:url("../images/pic08.jpg") no-repeat;
  background-size:cover;
  display: inline-block;
  width:30%;
  height:500px;
  position: relative;
}
#section-6 .right::before{
  content:'';
  border-color:transparent transparent transparent #fff;
  border-width: 20px;
  border-style:solid;
  position:absolute;
  top:240px;
  left:0;
}
