*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body>div{
  width:100%;
}
header{
    height:60px;
    min-width:500px;
    width:100%;
}
.logo img{
    width:40px;
    height:40px;
    margin-left:40px;
    padding-top:10px;


}
.logo span{
    font-size:24px;
    font-weight:bold;
    color:#4e3a4f;
    margin-left:15px;
    line-height:60px;
    vertical-align:top;
}
menu{
    display:inline;
    float:right;
    margin-right:30px;
    position:relative;
}
menu li{
    list-style:none;
    display:inline-block;
    margin-left:40px;
    line-height:60px;
    color:#534141;
    font-family:"微软雅黑";
    cursor:pointer;
    transition-property:color;
    transition-timing-function:ease-in-out;
    transition-duration:0.4s;
}
menu li:hover{
  color:#f04c57;
}
menu>div{
  display:inline-block;
  position:relative;
}
menu span{
  display:inline-block;
  width:0;
  background-color:blue;
  border-top:3px solid #e53c3c;
  position:absolute;
  left:0;
  top:57px;
  transition-property: width left;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}
menu li:first-child~span{
  width:14%;
}
menu li:nth-child(2):hover~span{
  width:14%;
  left:15%;
}
menu li:nth-child(3):hover~span{
  width:14%;
  left:32%;
}
menu li:nth-child(4):hover~span{
  width:14%;
  left:50%;
}
menu li:nth-child(5):hover~span{
  width:14%;
  left:65%;
}
.login{
    width:80px;

    background:url("../images/icon-2.jpg") no-repeat left center;
    text-align:center;
}
.move{
  border-top:3px solid #e53c3c;
  background:yellow;
  position:absolute;
  bottom:5px;
  width:0;
  transition-property: width;
  transition-duration:0.5s;
  transition-timing-function: linear;
  margin-left:15px;
}
menu>div:hover .move{
  width:100px;
}
.pic{
    background-image:url("../images/pic01.jpg");
    background-size:100% auto;
    height:650px;
    position:relative;
}
.time-of p:first-child {
    font-size:60px;
    font-family:arial;
    color:#fff;
    letter-spacing: 3px;
}
.time-of p {
    font-size:20px;
    font-family:"microsoft yahei";
    color:#fff;
}
.time-of{
    margin-bottom:30px;
    position:absolute;
    top:200px;
    left:100px;
}
.time-of p:last-child {
    font-size:30px;
    font-family:"microsoft yahei";
    color:#fff;
    margin-top:35px;
    background:#e53c3c;
    text-align:center;
    width:250px;
    transition:1s;
}
.time-of p:last-child:hover{
    background:#ea8585;
    border-radius:10px;

}
#section-1{
  width:100%;
  height:240px;
}
#section-1>div{
    display: inline-block;
    width:25%;
    height:100%;
    margin:0;
    padding:0;
    position:relative;

}
#section-1 .image{
  width:100%;
  height:30%;
  position:absolute;
  top:40px;
}
#section-1 .circle .image{
    background:rgb(255,255,255) url("../images/icon-3.jpg") center top no-repeat;
}
#section-1 .flag .image{
    background:rgb(255,255,255) url("../images/icon-4.jpg") center top no-repeat;
}
#section-1 .flower .image{
    background:rgb(255,255,255) url("../images/icon-5.jpg") center top no-repeat;
}
#section-1 .square .image{
    background:rgb(255,255,255) url("../images/icon-6.jpg") center top no-repeat;
}
#section-1 .message{
  width:100%;
  height:30%;
  position:absolute;
  bottom:40px;
  text-align:center;
  border-right:2px solid #534141;
  font-size:13px;
  color:#534141;
}
#section-1 .square .message{
  border-right:0;
}
#section-1 .message:hover p{
  color:#be4f41;
}
#section-2 {
  width:100%;
  height:400px;
  position:relative;
  background:#edeaea;
}
#section-2 .image{
  background: url("../images/icon-1.png") top center no-repeat;
  width:100%;
  height:30%;
  position:absolute;
  bottom:230px;
  text-align:center;
  font-size:13px;
  color:#534141;
}
#section-2 .message{
  color:#534141;
  font-size:50px;
  font-family:"微软雅黑";
  width:100%;
  height:30%;
  position:absolute;
  bottom:40px;
  text-align:center;
}
#section-3{
  background:url("../images/pic02.jpg") center center no-repeat;
  background-size:cover;
  width:100%;
  height:400px;
  position:relative;
}
#section-3 .map{

  position:absolute;
  top:50px;
  width:100%;

}
#section-3 .map p{
  text-align:center;
}
#section-3 .map p:first-child{
  color:#fff;
  font-size:22px;
}
#section-3 .map span{
  display:block;
  border-top:4px solid #fff;
  margin-top:15px;
  margin:15px auto;
  width:20px;
  transition-property:width;
  transition-timing-function:ease-in-out;
  transition-duration:0.5s;
}
#section-3 .map:hover span{
  width:300px;
}
#section-3 .map p:last-child{
  color:#fff;
  font-size:13px;
  margin-top:20px;
}
