*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}
body{
	padding:0;
	background:#fff;
	width:1280px;
	margin:0 auto;
}
header{
	background: #2289bf;
	height:60px;
	width:100%;
	position:relative;
}
header .logo{
	width:40px;
	height:40px;
	position:absolute;
	left:80px;
	top:10px;
	background:#fff;
}
header .logo .logo-border{
	width:22px;
	height:22px;
	border:4px solid #2289bf;
	position:absolute;
	right:-4px;
	bottom:-4px;
	color:#706464;
}
header .logo i{
	position:absolute;
	left:-80px;
	bottom:0px;
}
header .search{
	width:300px;
	height:30px;
	position:absolute;
	top:15px;
	right:200px;
	background:#fff;
	border-radius:30px;

}
header .search input{
	width:240px;
	left:40px;
	top:0;
	height:30px;
	border:none;
	position:absolute;
}
header .search i{
	position:absolute;
	left:15px;
	top:5px;
	font-size:20px;
	color:#373d4d;
}
header .login{
	position: absolute;
	right:100px;
	bottom:15px;
	font-size:20px;
	color:#fff;
}


.left{
	background: #2a2d3c;
	height:1000px;
	width:250px;
	float:left;
	position:relative;
}
.left .circle{
	width:50px;
	height:50px;
	border-radius: 100px;
	background: #fff;
	top:50px;
	left:50px;
	position:absolute;
}
.left .circle-outer{
	width:60px;
	height:60px;
	border-radius: 60px;
	border:3px solid #fff;
	background:#2a2d3c;
	top:45px;
	left:45px;
	position: absolute;
}
.left .name{
	width:50px;
	height:50px;
	top:50px;
	left:130px;
	line-height: 50px;
	position:absolute;
	color:#fff;
}
.left .info{
	position: absolute;
	top:120px;
	left:0;
	width:200px;
	height:80px;
}
.left .info .left{
	width:100px;
	display:inline-block;
	height:50px;
	border-right:2px solid #828f96;
	text-align: center;
}
.left .info .right{
	width:100px;
	display:inline-block;
	height:50px;
	text-align: center;
}
.left .first-folder{
	position:absolute;
	top:200px;
	left:45px;
	color:#fff;
	cursor:pointer;
}
.left .first-folder div{
	margin-top:10px;
}
.left .second-folder>div{
	margin-top:10px;
	margin-left:15px;
	cursor:pointer;
}
.left .second-folder dd{
	margin-top:10px;
	margin-left:35px;
}
.left .first-folder .second-folder>div{
	display:none;
}
.left .first-folder dd{
	display:none;
}
body>.right{
	margin-left:250px;
	width:1030;
}
.right .top{
	height:30px;
	background:#fff;
}
.right .top li{
	list-style: none;
	display:inline-block;
	color:#897373;
}
.right .top li::after{
	content:" \\ ";
}
.right .top li:first-child{
	margin-left:30px;
}
.right .top li:last-child::after{
	content:'';
}
.right .content{
	background: #ededed;
	width:1030px;
}
.right .content>div{
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	border-radius: 5px;
}
.right .content .first{
	height:100px;
	background: #fff;
	margin-left:20px;
	margin-right:20px;

}

.right .content .first form div{
	width:200px;
	height:100px;
	display:inline-block;
	vertical-align: top;
	text-align: left;
	padding-top:20px;
	position: relative;
}
.right .content .first form div:last-child{
	width:150px;
}
.right .content .first form .span-two-column{
	width:400px;
	height:100px;
	display:inline-block;
	vertical-align: top;
	text-align:left;
	padding-top:20px;
	position:relative;
}
.right .content .first form .span-two-column select:last-child{
	width:140px;
}
.right .content .first form div label{
	color:#aaa;
	font-size:13px;
	margin-left:15px;
	font-family:"微软雅黑";
}
.right .content .first form div select{
		width:100px;
		border:1px solid #aaa;
		z-index: 99;
		margin-top:10px;
}
.right .content .first form div:last-child span{
	width:50px;
	display:block;
	margin-top:20px;
	background:#2289bf;
	text-align:center;
	border-radius:3px;
}
.right .content .first form .second .image{
	background: url(../images/change.png) no-repeat right center;
	display:block;
	position: absolute;
	right:25px;
	top:16px;
	height:80px;
	width:30px;
	z-index: 1;

}
.right .content .first form .second .image i{

	display:block;
	position: absolute;
	right:-25px;
	top:32px;
	height:80px;
	width:40px;
	font-style:normal;
	font-size:10px;
	z-index: 1;
}
.right .content>.second{
	height:80px;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	border-radius: 10px;
	position:relative;
}

.right .content .second div{
	width:115px;
	margin-right:10px;
	height:80px;
	display:inline-block;
	vertical-align: top;
	transition-property: border-top;
	transition-duration:0s;
	transition-timing-function: linear;
	text-align: center;
	padding-top:20px;
	position:relative;
	background:#fff;
}
.right .content .second .left-arrow{
	width:29px;
	border-top-left-radius: 5px;
}
.right .content .second .time{
	font-size:15px;
}
.right .content .second .price{
	font-size:18px;
	color:#f18a26;
}
.right .content .second div:hover::after{
	content:'';
	border-top:4px solid #2289bf;
	position:absolute;
	left:0;
	top:0;
	width:115px;
}
.right .content .second .right-arrow:hover::after{
	border:none;
}
/*.right .content .second .first-child{
}*/
.right .content .second .right-arrow+div:hover::after{
	border:none;
}
.right .content .second .left-arrow:hover::after{
	border:none;
}
.right .content .second>i{
	position:absolute;
	top:30px;
	left:10px;
	font-size:20px;
	color:#AAAAAA;
	z-index:99;
}
.right .content .second .right-arrow{
	width:29px;
	position:relative;
}
.right .content .second .right-arrow>i{
	position:absolute;
	left:10px;
	top:30px;
	font-size:20px;
	color:#AAAAAA;

}
.right .content .second .history-query{
	width:125px;
	border-radius:5px;
	margin-right:0;
}
.right .content .second .fa-calendar{
	color:#2189bf;
	position: absolute;
	left:5px;
	top:30px;
	font-size:20px;
}
.right .content .second .fa-calendar+span{
	position:absolute;
	left:30px;
	top:30px;
}
.content .section-3{
	height:100px;
}
.content .section-3 p{
	background:#ededed;
	font-size:15px;
}
.content .section-3>div{
	width:222px;
	height:80px;
	background:#fff;
	display:inline-block;
	vertical-align: top;
	margin-left:34px;
	padding-top:20px;
	position: relative;
}
.content .section-3>div span{
	display:block;
	position: absolute;
	left:20px;
}
.content .section-3>div .color{
	position: absolute;
	right:20px;
	top:20px;
	height:40px;
	width:60px;
}
.content .section-3 .first-div .color{
	background:#44b29e;
}
.content .section-3 .first-div{
	border-left:5px solid #44b2e9;
}
.content .section-3 .second-div .color{
	background:#388ac1;
}
.content .section-3 .second-div{
	border-left:5px solid #388AC1;
}
.content .section-3 .third-div .color{
	background:#d04a36;
}
.content .section-3 .third-div{
	border-left:5px solid #d04a36;
}
.content .section-3 .fourth-div .color{
	background:#e2cd46;
}
.content .section-3 .fourth-div{
	border-left:5px solid #e2cd46;
}
.content .section-3 .first-div{
	margin-left:0;

}
.content .section-4{
	height:350px;
}
.content .section-4>div{
	display: inline-block;
	border-radius: 10px;
	vertical-align: top;
}
.content .section-4 .project-left{
	width:550px;
	height:350px;
	background: #fff;
	margin-right:10px;
	position:relative;
}
.content .section-4 .project-left .project-title{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:550px;
	background:#ededed;
	box-shadow: 0 0 5px #ababab;
	font-size:15px;
	height:30px;
}
.content .section-4 .project-right{
	width:430px;
	height:350px;
	background: #fff;
	position: relative;
}
.content .section-4 .choice{
	position: absolute;
	top:30px;
	left:0;
}
.content .section-4 .choice li{
	position:relative;
	width:80px;
	background:#ababab;
	margin-left:5px;
	margin-top:5px;
	border-radius: 5px;
}
.content .section-4 .choice li span{
	width:80px;
	height:31px;
	text-align: center;
	padding-top:5px;
	display:block;
	z-index: 1;
	position: relative;


}
.content .section-4 .choice li input{
	z-index: 32;
	position:absolute;
	left:0;
	display:block;
	width:80px;
	top:0;
	height:31px;
	opacity:0;
}
.content .section-4 .choice li{
	list-style:none;
	display:inline-block;
}
.content .section-4 .choice li input:checked+span{
	background:#fff;
	border:1px solid #ababab;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:none;
}
.content .section-4 .choice .table{
	display: block;
	position: absolute;
	top:30px;
	left:0;
	width:545px;
	padding:50px;
	display:none;
	z-index: 0;

}
.content .section-4 .choice li input:checked+span+.table{
	display:block;
	border:1px solid #ababab;
}
.content .section-4 .choice li input:checked+span+.item-2{
	margin-left:-85px;
}
.content .section-4 .choice li input:checked+span+.item-3{
	margin-left:-170px;
}
.content .section-4 .choice li input:checked+span+.item-4{
	margin-left:-255px;
}
.content .section-4 .choice li input:checked+span+.item-5{
	margin-left:-340px;
}
.content .section-4 .choice .table table{
	border:1px solid #ababab;
	font-size:15px;

}
.content .section-4 .choice li td{
	width:200px;
	height:30px;
	text-align: center;
	border:1px solid #ababab;
}

.content .section-4 .project-right .project-title{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#ededed;
	box-shadow: 0 0 5px #ababab;
	font-size:15px;
	height:30px;
}
.content .section-4 .project-right .table-right{
	padding:40px;
	position: absolute;
	top:30px;
}
/*.content .section-4 .project-right table{
	border:1px solid #ababab;
}*/
.content .section-4 .project-right table span{
	display: block;
	color:#aaaaaa;
	text-align: left;
}
.content .section-4 .project-right table td{
	width:200px;
	text-align: left;
	border-top:1px solid #ababab;
	border-left:1px solid #ababab;
	vertical-align: middle;

}
.content .section-4 .project-right table tr td:first-child{
	border-left:none;
}


.content .section-4 .project-right table th{
	width:200px;
	text-align: left;

}
.content .section-4 .project-right table .desc{
	height:100px;
	vertical-align: top;
}
.content .section-4 .project-right table{
	border-collapse:collapse;
}
.content .section-4 .project-right table .search-td{
	border-left:none;
}

.content .section-4 .project-right table .submit{
	display:block;
	background:#3179AA;
	width:50px;
	height:20px;
	text-align: center;
	color:#fff;
	margin-top:5px;
	border-radius: 5px;
	margin-left:100px;
}
.content .section-5{
	height:400px;
	background:#fff;
}
.content .section-5>div{
	display:inline-block;
	vertical-align: top;
}
.content .section-5 .calendar{
	display: inline-block;
}
.content .section-5 .calendar>span{
	display: block;
	width:400px;
	height:30px;
	background: #ababab;
}
.content .section-5 .calendar .item-list>li{
	display: inline-block;
	list-style:none;
	margin-right:10px;
	margin-left:10px;
	height:30px;
	width:80px;
	text-align: left;
	padding-top:5px;
	position:relative;
	padding-left:5px;
	border:1px solid #ababab;
	border-radius:5px;
	vertical-align: top;
	font-size:12px;
}
.content .section-5 .calendar .item-list>li i{
	display:inline-block;
	margin-right:2px;
	position:absolute;
	top:10px;
	right:0;
}


.content .section-5 .calendar .year-choice{
	position:absolute;
	display: none;
	top:30px;
	left:0;
	height:90px;
	width:80px;
	line-height: 30px;
	z-index: 999;
	background:#fff;

}
.content .section-5 .calendar .item-list>li:focus .year-choice{
	display:block;
	box-shadow:0px 0px 5px #ababab;

}
.content .section-5 .calendar .year-choice li{
	list-style: none;
	padding-left:5px;
}
.content .section-5 .calendar .year-choice li:hover{
	background: #ababab;
}
.content .section-5 .calendar .week {
	padding:20px;
	height:600px;
}


.content .section-5 .calendar .week td{
	width:48px;
	height:48px;
	background:#fff;
	border-radius:50px;
	text-align: center;
	line-height: 25px;
	transition-property: background;
	transition-duration:0.8s;
	transition-timing-function: ease-in-out;
	font-size:12px;

}
.content .section-5 .calendar .week .weekend{
	color:#d04a36;
}
.content .section-5 .calendar .week .festival{
	color:#d04a36;
}

.content .section-5 .calendar .week td:hover{
	background:#2a2d3c;
	color:#fff;

}
/*.content .section-5 .calendar .week li{
	list-style:none;
	display: inline-block;
	width:50px;
	height:30px;
	margin-left:1px;
	text-align: center;
	font-size:12px;
	padding-top:8px;


}
.content .section-5 .calendar .week {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	margin-top: 5px;
	margin-left:5px;
	margin-right:5px;
	position:relative;
	z-index: 300;
}
*/
.content .section-5 .progress{
	width:580px;
	height:450px;
	display: inline-block;
	margin-left:10px;
}
.content .section-5 .progress .progress-table {
	padding:10px;

}
.content .section-5 .progress .progress-table table{
	border-collapse:collapse;

}
.content .section-5 .progress>span{
	background: #ababab;
	display: block;
	width:570px;
	height:30px;
}
.content .section-5 .progress .progress-table tr td{
	width:120px;
	height:30px;
	border:1px solid #000;
	text-align:center;
	font-size:15px;
	position:relative;

}
.content .section-5 .progress .progress-table tr:hover{
	background:#B9C5CC;
}

.content .section-5 .progress .progress-table tr td:last-child{
	width:300px;
	text-align:left;

}
.content .section-5 .progress .progress-table .total-progress{
	display:block;
	height:10px;
	width:200px;
	background:#ababab;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top:10px;
	right:10px;
	border-radius:10px;
}
.content .section-5 .progress .progress-table .total-progress>span{
	display: block;
	height:10px;
	border-radius: 10px;

}
.content .section-5 .progress .progress-table .total-progress .percent-80{

	background:#ed6e52;
	width:80%;
}
.content .section-5 .progress .progress-table .total-progress .percent-75{
	background:#f4f5f6;
	width:75%;
}
.content .section-5 .progress .progress-table .total-progress .percent-70{
	background:#84A810;
	width:70;
}
.content .section-5 .progress .progress-table .total-progress .percent-65{
	width:65%;
	background:#7ecaf0;
}
.content .section-5 .progress .progress-table .total-progress .percent-60{
	width:60%;
	background:#7ecaf0;
}
.content .section-5 .progress .progress-table .total-progress .percent-55{
	width:55%;
	background:#7ecaf0;
}
.content .section-5 .progress .progress-table .total-progress .percent-50{
	width:50%;
	background:#7ecaf0;
}
.content .section-5 .progress .progress-table .total-progress .percent-45{
	width:45%;
	background:#7ecaf0;
}
.content .section-5 .progress .progress-table .total-progress .percent-40{
	width:40%;
	background:#7ecaf0;
}
.content .section-5 .progress .progress-table .total-progress .percent-35{
	width:35%;
	background:#7ecaf0;
}